@import "../../../style/variables";
@import "../../../style/global";
.subjects__container {
 display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  @media (max-width: 780px) {
    display: flex;
    flex-direction: column;    
  }
}
.subjectItem__list {
 margin: 10px 20px;
  width: 550px;
  height: 45px;
  padding: 10px;
  font-family: $main-font;
  font-size: 15px;
  list-style-type: none;
  box-shadow: 1px 1px 4px $main-color-dark;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: $secondary-color;
    // width: 560px;
    letter-spacing: 2px;
    color: #fff;
    opacity: 80;
    font-weight: 700;
  }
}

.subjects__header {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  color: $secondary-color;
  margin-bottom: 20px;
}

.subjectItem__description {
  font-weight: 700;
  width: 120px;
}

.subjectItem__description-second {
  width: 300px;
}
