@import "../../../style/variables";
@import "../../../style/global";

.classroomItem__list {
  margin: 0 20px;
  padding: 2px;
  font-family: $main-font;
  font-size: 25px;
 
}

.classroomItem__list-icon {
  margin-left: 10px;
  background-color: $main-color-light;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}