@import "../../../style/variables";
@import "../../../style/global";

.classrooms__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: $main-color-light;
  padding: 5px;
}

.classroomItem__list {
  margin: 10px 20px;
  width: 700px;
  height: 45px;
  padding: 10px;
  font-family: $main-font;
  font-size: 15px;
  list-style-type: none;
  box-shadow: 1px 1px 4px $main-color-dark;
  background-color: $main-color-light;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  @media #{$mobile} {
    width: 300px;
    margin: 5px 0;
    height: 90px;
  }
  @media #{$tablet} {
    width: 600px;
    margin: 5px 0;
  }

  @media #{$desktop} {
    width: 700px;
    margin: 5px 0;
  }

  &:hover {
    background-color: $secondary-color;
    color: #fff;
    opacity: 80;
  }
}

.classrooms__header {
  display: flex;
  justify-content: center;
  color: $secondary-color;
  width: 650px;
  font-weight: 700;
  margin: 20px auto;
  font-family: $second-font;
  letter-spacing: 3px;
}

.classroomItem__description {
  font-weight: 700;
  width: 120px;
}

.classroomItem__description-second {
  width: 300px;
}

.bin {
  cursor: pointer;
 border: 1px solid black;
  display: inline;
  border-radius: 6px;
}

.bin__enabled {
  border: 1px solid black;
  pointer-events: none;
  margin-right: 5px;
  border-radius: 6px;
}

.edit {
  border: 1px solid black;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 6px;
}
