@import "../../../style/variables";
@import "../../../style/global";

.timetables__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: $main-color-light;
}

.timetables__header {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  color: $secondary-color;
  width: 650px;
  font-weight: 700;
  font-family: $second-font;
  letter-spacing: 3px;
}

.timetableItem__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 220px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  font-family: $main-font;
  list-style-type: none;
  box-shadow: 1px 1px 4px $main-color-dark;
  border-radius: 10px;
  font-size: 18px;

  @media #{$mobile} {
    width: 130px;
    height: 240px;
    font-size: 15px;
  }
  @media #{$tablet} {
    width: 130px;
    height: 240px;
    font-size: 15px;
  }
  &:hover {
    background-color: $secondary-color;
    color: #fff;
    opacity: 80;
    width: 150px;
    height: 260px;
    font-size: 20px;
  }
}

.header__day {
  display: flex;
  justify-content: center;
  font-family: $second-font;
  color: $secondary-color;
  margin-top: 100px;
  margin-bottom: 20px;
}
