@import "../../../style/variables";
@import "../../../style/global";

.header__container {
  box-shadow: 0 0 10px $main-color-dark;
  background-color: $main-color-light;
  margin-top: 5px;
  margin: 10px auto;
  width: 100%;
  // background-image: linear-gradient(45deg, #81e2fe , $main-color-light, #81e2fe );
  

  @media screen and (min-width: 992px) {
  flex-basis: 130px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 160px;
  }
}
.header__text {
  font-family: $second-font;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 8px 8px 11px $main-color-dark;

  @media screen and (min-width: 760px) {
    font-size: 30px;
    letter-spacing: normal;
    font-weight: 500;
    color: red;
  }
  @media screen and (min-width: 992px) {
    font-size: 50px;
    letter-spacing: normal;
    font-weight: 500;
    color: blue;
  }
  @media screen and (min-width: 1200px) {
    font-size: 70px;
    letter-spacing: 8px;
    font-weight: 700;
    padding: 10px;
    color: $secondary-color;
  }
}
