@import "../../../style/variables";
@import "../../../style/global";

.timetable__container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  @media #{$mobile} {
    display: flex;
    flex-direction: column;
  }
}

.timetableItem__input {
  display: flex;
  margin-bottom: 20px;
  width: 500px;
  height: 45px;
  @media #{$mobile} {
    width: 300px;
    height: 60px;
  }
  @media #{$tablet} {
    width: 600px;
  }

  @media #{$desktop} {
    width: 700px;
  }
  font-family: $main-font;
  font-size: 15px;
  list-style-type: none;
  box-shadow: 1px 1px 4px $main-color-dark;
  border-radius: 4px;
}


.time {
  font-size: 25px;
  margin: 4px;
  border-radius: 4px;
}
