@import "../../../style/variables";
@import "../../../style/global";

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px $main-color-dark;
  background-color: $main-color-light;
  flex-grow: 1;
  height: 100%;
  margin: 10px auto;
  width: 100%;

   @media #{$mobile} {
    flex-basis: 200px;
    flex-direction: column;
    justify-content: center;
  }
   @media #{$tablet} {
    flex-basis: 130px;
  }
   @media #{$desktop} {
    flex-basis: 160px;
  }
}

.footer__item,
.footer__text {
  font-size: 18px;
  color: $main-color-dark;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

   @media #{$mobile} {
    font-size: 14px;
  }
}
.footer__text {
  margin: 15px;
  padding: 6px;
}
.footer__icon {
  color: #fff;
  padding: 6px;
  margin: 15px;
  border-radius: 50%;
  background-color: $main-color-dark;

 @media #{$mobile} {
    font-size: 14px;
  }
}
