.container {
  margin: 0 auto;
 }

@media all and (min-width: 760px) {
  .container {
    width: 720px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 945px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
