// breakpoints
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

// colors
$main-color-light: #cfd3dc;
$main-color-dark: #3e3632;

// fonts
$main-font:"Open Sans", Helvetica, sans-serif;
$second-font: "Lobster", cursive;