// breakpoints
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

// colors
$main-color-light: #d4d5d9;
$main-color-dark: #323d3e;
$secondary-color: #3E65B0;

// fonts
$main-font:"Open Sans", Helvetica, sans-serif;
$second-font: "Lobster", cursive;