@import "../../../style/variables";
@import "../../../style/global";

.menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 30px;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
}
.menuLink {
  width: 250px;
  height: 80px;
  margin: 20px;
  background-color: #b6bdc7;
  color: #3e3632;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:focus,
  :hover {
    background-color: $secondary-color;
    width: 270px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 700;
  }
}
