@import "../../../style/variables";
@import "../../../style/global";

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100px;
  font-family: $main-font;
  margin-left: 20px;
  @media #{$mobile} {
    width: 50px;
  }
}

.menuLink {
  display: flex;
  width: 250px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  background-color: #b6bdc7;
  color: #3e3632;
  font-weight: 700;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:hover {
    background-color: $secondary-color;
    letter-spacing: 2px;
    color: #fff;
  }
  @media #{$mobile} {
    width: 50px;
    height: 50px;
    padding: 4px;

    .menu__text {
      display: none;
    }
  }
}
.menu__icon {
  margin: 10px;
}

.hamburger {
  width: 50px;
  height: 50px;
  padding: 12px;

  @media #{$mobile} {
    margin-left: 95px;
  }

  &:hover {
    background-color: $secondary-color;
    border: 1px solid #b6bdc7;
    border-radius: 10px;
    color: #fff;
  }
}
.hamburgerMenu {
  display: flex;
  margin: 10px;
  width: 240px;
  justify-content: flex-start;
  align-items: flex-start;
}
