@import "../../../style/variables";
@import "../../../style/global";

.search__container {
  width: 650px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.button__container {
  display: flex;
  margin: 0 auto;
}
.search__button,
.search__button-item {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: $main-color-light;
  color: $secondary-color;

  &:hover {
    border: 2px solid $secondary-color;
    box-shadow: 1px 1px 3px $secondary-color;
  }
}

.search__button-item {
  width: 50px;
  height: 50px;
  margin-left: 4px;
}
.search__button {
  width: 400px;
  height: 50px;
  @media #{$mobile} {
    width: 200px;
    height: 50px;
  }
}

.search__icon {
  margin-top: 4px;
}
